<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ashe.mapper.primary.EmployeeMapper">

    <select id="selectOne" resultType="org.ashe.entity.Employees">
        select name, hire_date, salary from employees where employee_id = 1234
    </select>

</mapper>
